:root {
    --clr-primary: rgb(228, 104, 88);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(112, 19, 19);
  }

  *,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}