:root {
    --clr-primary: rgb(228, 104, 88);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(112, 19, 19);
  }

  *,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: grid;
    grid: "header header header header" auto "...... lists  active ......" auto/1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
  }

  .delete-items {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35px;
    color: var(--clr-warning);
  }

  .title {
    grid-area: header;
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    margin: -0.3em 0 0.5em;
  }